/* 
==================
Fonts
==================
*/
@font-face {
    font-family: "vazir";
    src: url(../fonts/vazir/Vazir-Medium-FD-WOL.woff) format(woff),
        url(../fonts/vazir/Vazir-Medium-FD-WOL.woff2) format(woff2),
        url(../fonts/vazir/Vazir-Medium-FD-WOL.ttf) format(truetype);
}

/* 
==================
Variables
==================
*/
:root {
    --clr-primary-1: #344E41;
    --clr-primary-2: #CAD2C5;
    --clr-primary-3: #7A918D;
    /* --clr-second-1:
    --clr-second-2:
    --clr-second-3: */
    --clr-white: white;
    --ff-primary: "vazir", sans-serif;
    --transition: all 0.3s linear;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* 
==================
Global styles
==================
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

h1,
h2,
h3,
h4 {
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
}

@media screen and (min-width:800px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }
}